<div class="container-fluid" enter-target="registerButton,updateButton">
    <form name="profileForm">
        <div class="row-fluid">
            <div class="span3">
                <gravatar email="{{user.emailAddress}}"/>
            </div>
            <div class="span3">
                <fieldset>
                    <label for="userName">User Name:</label>
                    <input focus id="userName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username" ng-model="user.userName" />
                    <label for="password">Password:</label>
                    <input id="password" required type="password" placeholder="Password" ng-model="user.password" />
                </fieldset>
                <div style="margin-top:15px">
                    <fieldset>
                        <label for="name">Name:</label>
                        <input id="name" type="text" placeholder="Name" ng-model="user.name" />
                        <label for="emailAddress">Email Address:</label>
                        <input id="emailAddress" type="email" placeholder="Email Address" ng-model="user.emailAddress" />
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 offset3">
                <label for="bio">Bio:</label>
                <textarea id="bio" rows="6" style="width:97%; color:#52575c" placeholder="Bio" ng-model="user.bio"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 offset3">
                <div class="pull-left" ng-hide="isAuthenticated()"><span class="btn">Cancel</span></div>

                <div class="pull-right" ng-hide="isAuthenticated()"><button type="submit" class="btn btn-primary" ng-click="registerUser(user, profileForm)">Save</button></div>
                <div class="pull-right" ng-show="isAuthenticated()"><span id="updateButton" class="btn" ng-click="updateProfile(user, profileForm)">Update</span></div>
            </div>
        </div>
    </form>
</div>