<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img gravatar="{{user.emailAddress}}" src=""/>
        </div>
        <div class="span9">
            <div class="row-fluid">
                <div class="span12">
                    <h3 style="width:100%">{{user.name}}</h3>
                    <h4>{{user.emailAddress}}</h4>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h5>Bio:<br/>
                        {{user.bio}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>